@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.carousel-inner {
  max-height: 35rem;
}

footer {
  background: white;
  min-height: 100px;
}
footer footer p {
  color: #f3f3f3;
  text-align: center;
}
footer #iconos i {
  font-size: 26px;
  padding: 0 8px;
  color: rgba(243, 243, 243, 0.9098039216);
}

@media (max-width: 768px) {
  #intro {
    width: 90% !important;
  }
  .servicio-fila {
    width: 100% !important;
    text-align: center;
  }
}
@media (max-width: 768px) and (max-widht: 576px) {
  .icono-wrap {
    flex-wrap: wrap;
    justify-content: center !important;
  }
}
.tarjetas {
  padding: 60px;
  display: flex;
  gap: 30px;
}
.tarjetas .tarjeta {
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.tarjetas .tarjeta .informacion {
  padding: 0 20px 20px 20px;
}
.tarjetas .tarjeta .tarjeta__imagen {
  max-width: 10%;
}