@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

.carousel-inner {
    max-height: 35rem;
}

@media (max-width:768px) {
    #intro {
        width: 90% !important;
    }
 .servicio-fila {
    width: 100% !important;
    text-align: center;

 }
}

@media(max-widht:576px) {
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;

    }
}
footer {
    background: rgb(159, 182, 159);
    min-height: 100px;
}

footer p{
    color: #f3f3f3;
    text-align: center;

}


#iconos i {
    font-size: 26px;
    padding: 0 8px;
    color: #f3f3f3;
 }

