footer {
    background: rgb(159, 182, 159);
    min-height: 100px;

    footer p{
        color: #f3f3f3;
        text-align: center;
    
    }
    #iconos i {
        font-size: 26px;
        padding: 0 8px;
        color: #f3f3f3e8;
     }
}