@media (max-width:768px) {
    #intro {
        width: 90% !important;
    }

 .servicio-fila {
    width: 100% !important;
    text-align: center;

 }
 
 @media(max-widht:576px) {
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;

    }
}
}